beautifulsoup4==4.14.3
blinker==1.9.0
bs4==0.0.2
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.3.1
ffmpeg-python==0.2.0
Flask==3.1.2
future==1.0.0
gevent==25.9.1
greenlet==3.3.1
gunicorn==25.0.3
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
packaging==26.0
requests==2.32.5
soupsieve==2.8.3
typing_extensions==4.15.0
urllib3==2.6.3
Werkzeug==3.1.5
zope.event==6.1
zope.interface==8.2
